.home-container {
  .searchpage {
    padding: 0 100px;

    .searchpage-titles {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 40px;
      margin-bottom: 30px;
    }

    .musees-wrapper {
      overflow: hidden;
      border-radius: 20px;
      border: solid 1px rgb(211, 211, 211);
      margin-top: 2rem;
      margin-bottom: 20px;
      padding-right: 24px;

      .musees-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr); // 3 colonnes desktop
        gap: 1.75rem;
        width: 100%;
        padding: 20px;
        max-height: calc(3 * (200px + 1.75rem)); // 3 cards + gap
        overflow-y: auto;

        .musee-link {
          text-decoration: none;
          color: inherit;
          display: block;
          transition: transform 0.25s ease, box-shadow 0.25s ease;

          .musee-card {
            background: #fff;
            border-radius: 1rem;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
            padding: 1.5rem;
            transition: all 0.25s ease;
            height: calc(100% - 3rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid rgba(230, 230, 230, 0.8);
            text-align: left;

            &:hover {
              transform: translateY(-4px);
              box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
            }

            .card-title {
              font-size: 1.2rem;
              font-weight: 700;
              color: #1f2937;
              margin-bottom: 0.5rem;
            }

            .card-thematic {
              display: flex;
              flex-wrap: wrap;
              gap: 0.5rem;
              margin-bottom: 10px;

              .thematic-tag {
                border: 1px solid #6b7280;
                border-radius: 0.5rem;
                padding: 0.25rem 0.5rem;
                font-size: 0.85rem;
                color: #374151;
                background-color: #f9fafb;
                white-space: nowrap;
                cursor: pointer; // indique que c’est cliquable
                transition: all 0.2s ease;

                &:hover {
                  background-color: #e0f2fe; // bleu clair au hover
                  border-color: #1d4ed8; // bleu foncé
                  color: #1d4ed8;
                }
              }
            }

            .card-adress {
              font-size: 0.9rem;
              color: #374151;
              line-height: 1.4;
              white-space: pre-line;
            }
          }

          &:hover .musee-card {
            background-color: #f9fafb;
          }
        }
      }
    }

    @media (max-width: 1200px) {
      .musees-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 768px) {
      padding: 0 20px;

      .musees-list {
        grid-template-columns: 1fr;
      }
    }
  }
}
