.home-container{
    .searchpage {
        padding: 0 200px;
        .searchpage-titles {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 40px;
        }

        
        
    }
}
